.map-container {
  margin: 0px;
  padding: 0px;
}

.map-info-container {
  display: flex;
  justify-content: center;
}

.map-info-container .card {
  margin: 20px;
  min-height: 120px;
  width: 90%;
}

.map-info-container .content {
  padding: 12px;
}

.map-info-container .cta {
  margin-right: 8px;
}

.map-info-container .map-input-field {
  margin: 40px;
  width: 300px;
}

.map-info-container .parking-address {
  color: gray;
}

.map-info-container .confirmation {
  color: green;
  font-size: 22px;
}